.play-ground {
    margin: 0 auto;
    display: grid;
    max-inline-size: 700px;
    gap: 20px;
}

.play-ground_size-small {
    grid-template-columns: repeat(4, 1fr);
}

.play-ground_size-big {
    grid-template-columns: repeat(5, 1fr);
}