.menu__text {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 28px;
    color: var(--light-white);
}

.menu__text_hide {
    opacity: 0;
    display: none;
}

@media (width >= 1440px) {
    .menu__item:hover .menu__text {
        text-decoration: underline;
    }
}