.playground__header {
    inline-size: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (width <= 1440) {
    .playground__header {
        justify-content: center;
    }
}