@import url('./__text/footer__text.css');
@import url('./__link/footer__link.css');

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 0px;
}

@media (width >= 1024px) {
    .footer {
        margin-block: 15px;
    }
}