.card {
    position: relative;
    display: flex;
    block-size: 95px;
    inline-size: 95px;
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: transform .3s;
}

.card-flip {
    transform: rotateX(180deg);
    transition: transform 1.5s;
    pointer-events: none;
}

.card-flip-back {
    transform: rotateX(360deg);
    transition: transform 1.5s;
}