.card {
    position: relative;
    display: flex;
    block-size: 100px;
    inline-size: 100px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
    transform-style: preserve-3d;
}

.card-flip {
    transform: rotateX(180deg);
    transition: transform 1.5s;
}

.card-flip-back {
    transform: rotateX(360deg);
    transition: transform 1.5s;
}