.form__img {
    object-fit: contain;
    border: 1px solid var(--very-light-purple);
    border-radius: 5px;
    transition: border-color .3s;
    user-select: none;
}

.form__label:has(.form__radio:checked) .form__img {
    border-color: var(--black);
}