.form__level-difficult-list {
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--black);
    border-radius: 5px;
    list-style: none;
    background-color: var(--white);
}