.form__label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 400;
    color: var(--very-light-purple);
    cursor: pointer;
    user-select: none;
    transition: color .3s;
}

.form__label:has(.form__radio:checked) {
    cursor: auto;
    color: var(--black);
}