:root {
    --dark-blue: #6482AD;
    --light-blue: #7FA1C3;
    --dark-white: #E2DAD6;
    --light-white: #F5EDED;

    --lato-font: 'Lato', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

@import url('./blocks/body/body.css');
@import url('./blocks/content/content.css');
@import url('./blocks/header/header.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/menu/menu.css');