.form:before {
    content: 'WARNING! The game works stably only on computers';
    color: red;
    position: absolute;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    inset-block-end: -45px;
    inset-inline-start: 0px;
    max-width: 225px;
}