.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.content:has(.content__form) {
    margin-block-start: calc(50vh - 300px);
}

.content:has(.play-ground) {
    margin-block-start: calc(50vh - 350px);
}